body{
    background: #848487;
}


.card{
    background: #000000d0;
    color: white;
    border-radius: 30px;
    margin-bottom: 25px;
}

.weather.loading{
    visibility: hidden;
    max-height: 30px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading";
    color: white;
    position: absolute;
    top: 0;
}

.description{
    text-transform: capitalize;
}